@import 'tailwindcss';

.notification {
    @apply bg-[var(--bg-primary)] border-[var(--border-color)] border-[1px] flex items-center p-2 hover:bg-[var(--hover)] rounded-2xl transform transition hover:scale-102 w-[98%] mx-auto;
}

.notification:hover {
    box-shadow: 0 10px 6px -1px rgba(0, 0, 0, 0.3);
}

.notification-img {
    @apply w-15 h-15 rounded-full;  
}

.notification-text {
    @apply text-2xl text-[var(--text-primary)];
}

.notification-time {
    @apply text-xl text-[var(--text-primary)] font-bold;
}