@import 'tailwindcss';

/* Login Containers */
.login-page {
    @apply w-screen h-screen grid grid-cols-2 text-white; 
}

.container-login {
    @apply bg-[var(--bg)] flex flex-col justify-center items-center;
}

.container-login-form {
    @apply bg-[#d9d9d9] flex justify-center items-center grid-cols-1;
}

.login-block {
    @apply bg-[var(--bg)] rounded-md w-[96%] h-[95%] w-[96%] h-[95%];
}

/* Container desc */
.login-logo {
    @apply flex items-center gap-6; 
}

.login-logo img {
    @apply h-auto w-30;
}

h1.login-tittle {
    @apply  text-7xl font-medium;
}

h2.login-tittle {
    @apply font-semibold;
}

/* Login Container Form */
.login-return {
    @apply absolute mt-5 ml-5 text-[var(--text)] text-4xl cursor-pointer hover:text-[var(--hover)] transition-colors duration-300;
}

h3.login-tittle {
    @apply font-semibold text-5xl;
}







/* 
.half-image2 {
    @apply fixed top-0 left-0 w-1/2 h-screen object-cover z-[-1] rotate-180;
}   
  
.half-image {
    @apply fixed top-0 right-0 w-1/2 h-screen object-cover z-[-1];
}   

.container { /* A base do login, o container principal /* }
    @apply h-160 w-210 rounded-2xl flex backdrop-blur-xs backdrop-grayscale-75 border-2 text-[var(--text)] flex-col p-4 bg-[#0000004e] 
}

.container#register {
    @apply h-180
}

.login-main{
    @apply flex w-screen h-screen justify-center items-center z-[2]
}

#forgot-main{
    @apply h-115 w-200
}

/* Icone de voltar*/

.circle-icon{
    @apply rounded-full border-3 text-[var(--text)] size-15 flex items-center justify-center text-4xl rotate-0 hover:rotate-180 transition-all duration-600
}

/*  */

.logo-content{
    @apply flex flex-row text-5xl h-20 w-210 items-center absolute font-semibold mt-1 justify-center  
}

#logo-forgot{
    @apply flex flex-row text-5xl h-20 w-200 items-center absolute font-semibold mt-1 justify-center 
}

.bubble_img{
    @apply object-contain mr-3 size-20 
}

#checkbox {
    @apply cursor-pointer w-3.5
}

.login-checkbox{
    @apply flex items-center gap-3 justify-between mt-[-1.25rem]
}

.redes_sociais{
    @apply flex flex-row justify-between mb-3 w-100 
}

.redes_sociais li{
    @apply border-2 text-[var(--text)] size-15 rounded-2xl justify-center flex items-center text-[2.5rem] cursor-pointer hover:scale-130 transition-all duration-350 ease-in-out
}

.link_text {
    @apply relative inline-block;
  }
  
.link_text::after {
    content: '';
    @apply absolute left-0 bottom-0 w-full h-[2px] bg-current;
    transform: scaleX(0);
    transform-origin: center; 
    transition: transform 0.4s ease-in-out;
}

.link_text:hover::after {
    transform: scaleX(1);
}
