.conteinerIcons{
    background-color: aqua;
    width: 100px;
    height: 270px;
    position: absolute;
    left: 1200px;
    top: 550px;
    border-radius: 10px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.iconsStyle{
    font-size: 60px;
}

.stylefechar{
    font-size: 20px;
    font-weight: bolder;
}