
@import 'tailwindcss';

.conteinerConfigNav{
<<<<<<< HEAD
    @apply bg-[rgb(7,15,34)] h-screen w-[20vw] flex flex-col text-lg gap-3 text-white
=======
    @apply bg-amber-200 h-screen w-[20vw] flex flex-col text-lg gap-3 fixed
>>>>>>> e7ebb0949b2c376058c5680f5f295c781ae3244f
}

.conteinerConfigNav h2{ 
    @apply font-medium text-xl ml-2
}

.optionconfig{
    @apply flex flex-col gap-3
}

.optionconfig span, .optionconfig a{
    @apply flex self-start pl-2 ml-1 text-sm font-normal hover:bg-blue-800 hover:transition hover:ease-in hover:w-[18vw] hover:h-[5vh] hover:flex hover:items-center hover:rounded-2xl cursor-pointer hover:text-lg hover:animate-bounce
}

.centerBubble{
    @apply relative top-28 flex justify-center rounded-2xl
}