/* Fundo escuro que cobre toda a tela */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);

}

.popup-content {
  background: #000000;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}


.popup-close {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  scrollbar-width: none;
}


.post-dentro-popup{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #090D13;
  border-radius: 10px;
  margin-top: 50px;
}

.perfil{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 90px;
  color: white;
  gap: 20px;
  font-weight: bold;
  padding: 10px;
}



.perfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.midia{
  width: 1000px;
  height: 600px;
  max-height: 600px;
  border-radius: 10px;
}

.conteiner-img{
  margin: 0 auto;
  max-width: 80%;
  padding: 10px;
}

.conteinerCommentsPost{
  margin: 10px 0 10px 120px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.Coments{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #090D13;
  gap: 20px;
}

.no-scroll {
  overflow: hidden;
}
