/* Fundo escuro que cobre toda a tela */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);

}

.popup-content {
  background: #333333;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}


.popup-close {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: #1d1d1d;
  color: aliceblue;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.Coments{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: -50px;
  background-color: #1d1d1d;
  gap: 20px;
}

.no-scroll {
  overflow: hidden;
}
