@import 'tailwindcss';

.tituloTredding {
    font-size: 30px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tituloTredding h1::after{
    content: '';
    display: flex;
    width: 170px;
    justify-content: center;
    height: 6px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 10px auto;
}

.tituloTredding h3::after{
    content: '';
    display: flex;
    width: 500px;
    justify-content: center;
    height: 6px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 10px auto;
}