@import 'tailwindcss';

.notification-head {
    @apply flex items-center gap-4 justify-center mt-8 bg-[var(--bg-primary)] border-[var(--border-color)] rounded-2xl w-200 p-3 mx-auto select-none shadow-[var(--shadow-color)] border-[1px];
}

.notification-headtext {
    @apply text-5xl text-[var(--text-primary)];
}

.notifications-box {
    @apply flex flex-col gap-2 p-4 w-full max-w-5xl mx-auto mt-5 rounded-2xl bg-[var(--bg-primary)] border-[var(--border-color)] shadow-[var(--shadow-color)] border-[1px] min-h-[75vh];
}

.notifications-seemore {
    @apply bg-[var(--bg-primary)] flex items-center p-2 hover:bg-[var(--hover)] border-[var(--border-color)] border-[1px] rounded-xl transform transition hover:scale-105 mx-auto text-[var(--text-primary)] mt-3 w-fit sticky cursor-pointer;
}

.notifications-seemore:hover {
    box-shadow: 0 10px 6px -1px rgba(0, 0, 0, 0.3);
}