@import 'tailwindcss';

.ps-container {
    @apply max-w-6xl mx-auto p-6 mt-10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    padding: 20px;
    color: var(--text-primary);
    margin: auto;
}

.ps-container h1 {
    font-size: 28px;
    font-weight: bold;
}

.ps-card {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ps-card input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: var(--bg-secondary);
    color: var(--text-primary);
}

.ps-btn {
    background: var(--primary-color);
    padding: 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.ps-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
