@import 'tailwindcss';

.post_roll{
    @apply flex absolute flex-col items-center justify-center w-full h-full gap-5 my-20
}
.conteiner-post {
    @apply flex flex-col relative my-10 mb-5 p-3 px-5 rounded-2xl bg-[var(--bg-primary)] shadow-[var(--shadow-color)] border-[1px] border-[var(--border-color)] text-[var(--text-primary)] w-230 justify-self-center;
}
.conteiner-perfil, .like, .coments, .display-like{
    @apply flex flex-row select-none 
}
.like, .coments, .display-like {
    @apply items-center  gap-2 text-2xl
}

.coments{
    @apply items-center gap-3
}

.text-post{
    @apply px-5 pb-3 
}

.nome-perfil{
    @apply pt-2 pl-3 items-center text-3xl font-semibold
}

.arroba-perfil{
     @apply text-xl font-normal
}

.conteudo-post{
    @apply px-9 py-2 text-xl 
}

.display-like{ 
    @apply justify-between py-1 px-5 
}

.heart, .coment, .share{
    @apply text-4xl cursor-pointer
}

.input-coments input{
    @apply bg-[#5f5f5f] w-105 mx-5 h-12 items-center px-6 pb-1 rounded-3xl
}

.conteiner-perfil img{
    @apply size-25 rounded-full object-cover
}

.midia-post{
    @apply justify-self-center bg-[var(--segundary)] w-200 rounded-3xl overflow-hidden mb-4
}

.midia-post img{
    @apply w-full h-auto object-contain rounded-3xl transition-transform duration-300 hover:scale-105
}

.ft-perfil img {
  cursor: pointer;
  pointer-events: auto;
}

/* botao de deletar */
.delete-post {
    @apply absolute cursor-pointer top-[10px] right-[10px] text-[20px] opacity-70 transition duration-200; color: rgb(200, 0, 0);
}

.delete-post:hover {
    @apply opacity-100;
    color: red;
}

.edit-post svg {
  @apply text-[#00aaff] transition duration-200 absolute top-[50px] right-[10px] text-[20px];
}

.edit-post svg:hover {
  @apply text-[#0088cc];
}

.delete-post svg {
  @apply text-[#ff4444] transition duration-200;
}

.delete-post svg:hover {
  @apply text-[#cc0000];
}
