@import "tailwindcss";

.container-status {
    @apply flex flex-row bg-[var(--bg-primary)] shadow-[var(--shadow-color)] border-[1px] border-[var(--border-color)] h-12 w-230 justify-self-center mt-5 rounded-lg items-center justify-center text-[var(--text)] transition-all duration-200 mb-30
}

.container-status:hover {
    @apply shadow-lg
}

.inside-line {
    @apply border-r-2 h-[65%] text-[var(--text-primary)]
}

#icons {
    @apply text-2xl mx-2 cursor-pointer transition-colors duration-200
}

#icons:hover {
    @apply text-[var(--primary)]
}

.music {
    @apply text-[1px]
}

#smile-icon {
    @apply text-2xl mr-[-.4rem] cursor-pointer transition-colors duration-200
}

#smile-icon:hover {
    @apply text-[var(--primary)]
}

#arrow-icon {
    @apply text-xl mx-2 rotate-45 mr-4 cursor-pointer transition-colors duration-200
}

#arrow-icon:hover {
    @apply text-[var(--primary)]
}

.input-bubble {
    @apply w-[90%] flex flex-row justify-between px-4 text-xl
}

.input-bubble input {
    @apply w-[90%] flex flex-row justify-between px-4 text-xl cursor-pointer text-[var(--text-primary)]
}

.input-bubble input:focus {
    @apply outline-none
}