@import 'tailwindcss';
:root{
    --primary: #464646;
    --hover: #5f5f5f;
    --terciary: #525252;
    --segundary: #333333;
    --bg: #1d1d1d;
    --text: #E5E5E5;
}

body{
    @apply bg-[var(--bg)];
}

*{
    font-family:  "Quicksand", sans-serif;

}

input{
    outline: none;
    @apply bg-[var(--bg)] rounded-lg
}

input:focus {
    @apply outline-none focus:ring-0;
}