
.ProfileCommets {
    display: flex;
    gap: 10px; 
    margin: 10px;
    color: white;
    font-family: sans-serif;
}

.PhotoProfile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.conteinertext{
    position: relative;
    right: 70px;
    top:10px;
}

.TextCommets {
    font-size: 22px;
}

.likeBar, .likeIcon, .comentsIcon {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}
.coment{
    color: white;
    font-size: larger;
}