@import 'tailwindcss';

main{
    @apply flex flex-col items-center justify-center w-[75%] 
}

.titlenewpost {
    @apply text-white m-4 font-bold text-4xl w-[50%] after:block after:bg-amber-50 after:w-[23%] after:h-1.5 after:rounded-2xl
}

.inputsnewpost{
    @apply flex flex-col justify-center w-2xl m-4
}

.conteiner-title{
    @apply flex flex-col gap-5
}

.inputtitle{
    @apply bg-amber-400 w-full p-5
}

.inputcommets{
    @apply bg-amber-100 w-full p-5 h-48
}

.conteiner-infoadd{
    @apply flex flex-col mt-10 gap-4
}

.divprofiles, .divLocal{
    @apply gap-2 text-amber-50 text-xl flex-col flex 
}

.divprofiles input, .divLocal input{
    @apply bg-amber-50 w-full pl-10  
}


.imgPost{
    @apply mt-10 text-amber-50 text-xl flex flex-col gap-4  
}

.addImg{
    @apply bg-gray-700 w-full p-5 h-20 rounded-xl 
}

.buttonAddImg{
    @apply w-20 h-20 bg-gray-800 flex items-center justify-center rounded-xl wrap-normal  text-5xl font-bold  
}

/* Aside */

.conteinerPreview{
    @apply flex flex-col items-center text-amber-50 w-[25%] absolute right-30 top-6
}

.conteinerPreview h2{
    @apply text-2xl font-bold mb-4 after:block after:bg-amber-50 after:w-full after:h-1.5 after:rounded-2xl
}

.conteinerProfilePreview{
    @apply h-100 w-150 bg-gray-800 rounded-2xl justify-center items-center flex flex-col
}

.conteinerPostPreview{
    @apply h-75 w-130 bg-gray-900 rounded-2xl
}

.displayLikePreview{
   @apply flex items-center gap-4 
}

.conteinerPublicar{
    @apply mt-6 w-150 h-50 rounded-2xl flex flex-col items-center bg-gray-700  
}

.ButtonsPublicar, .ButtonCancel {
    @apply w-100 h-20 bg-gray-800 text-2xl rounded-2xl  flex items-center justify-center mt-4  
}

.ButtonsPublicar span, .ButtonCancel span{
    @apply font-bold
}

.ButtonCancel{
    @apply hover:bg-red-500 transition ease-in duration-300
}